        <style>
         .button {
         width: 200px;
         margin-left: 0%;
         background-color: #5997de;
         padding: 6px;
         text-align: center;
         color: #fff;
         font-weight: 700;
         }
         @media only screen and (max-width: 800px) {
         .flex{
         display:flex;
         flex-direction:column;
         }
         .flex-buttons {
         display: flex;
         flex-direction: column;
         align-items: center;
         }
         }
         @media only screen and (max-width: 2187px) {
         .button {
         width: 200px;
         margin-left: 15%;
         background-color: #5997de;
         padding: 10px;
         text-align: center;
         color: #fff;
         font-weight: 700;
         }
         }
      </style>
   <body class="h-full">
      <div class="min-h-full">
      <div style="margin-top:0px">
         <div style="display:flex;justify-content:center;align-items:center;margin-top:10vh;" class="container">
            <form method="post">
               {% csrf_token %}
               <div>
                  <h3><span>3.</span>Assign the Questions at your preffered Text Container.</h3>
                  <p class="font-bold header">Please fill the form fields.</p>
               </div>
               <div class="flex flex-row">
                  <div class="input">
                     <div style="display:flex; flex-direction:space-between">
                        <div>
                           <div>
                              <p>Questions</p>
                           </div>
                           <div>
                              {{ assign_text_questions_to_text_container_form.text_questions }}
                           </div>
                        </div>
                        <div style="margin-left:50px;">
                           <p>Text Container</p>
                           {{ assign_text_questions_to_text_container_form.text_question_container }}
                        </div>
                     </div>
                     {% include 'partials/submit_button.html' %}
                  </div>
            </form>
            </div>
         </div>
      </div>
   </body>