{% load static tailwind_tags %}
<!DOCTYPE html>
<html class="h-full bg-gray-100" lang="en">
   <head>
      <title>Django Tailwind</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      {% tailwind_css %}
   </head>
   <style>
      .form_block{
      display:flex;
      justify-content:center;
      align-items:center;
      margin-top:10vh;
      }
      .sub-section{
      margin-top:40px;
      border:1px solid #ddd;
      padding:30px;
      }
      .input{
      margin-top:30px;
      }
      .warning{
      color:tomato;
      margin-top:30px;
      }
      .header{
      font-weight:600;
      font-size:18px;
      }
   </style>
   <body class="h-full">
      <div class="min-h-full">
      {% include 'views/navigation.html' %}
      <header class="bg-white shadow">
         <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
            <h1 class="text-3xl font-bold tracking-tight text-gray-900">Enroll a question_section at a lesson </h1>
         </div>
      </header>
      <main>
         <div style="display:flex;justify-content:center;align-items:center;margin-top:10vh;" class="container">
           <form class="form-block" action="{% url 'enroll_question_to_lesson' %}" method="post">
               {% csrf_token %}
               <div>
                  <p class="header">Please fill the form fields.</p>
               </div>
               <div class="sub-section">
                  <div class="input">
                     <label for="{{question_to_lesson_enrollment_form.question_container.id_for_label}}">
                        <span style="color:#c24b38;">*</span>Questions Section:
                     </label>
                     {{question_to_lesson_enrollment_form.question_container}}
                     {{question_to_lesson_enrollment_form.question_container.errors}}
                  </div>
                  <div class="input">
                     <label  for ="{{question_to_lesson_enrollment_form.lesson.id_for_label}}">
                        <span style="color:#c24b38;">*</span>Lesson:
                     </label>
                     {{question_to_lesson_enrollment_form.lesson}}
                     {{question_to_lesson_enrollment_form.lesson.errors}}
                  </div>

               </div>

               {% include 'partials/submit_button.html' %}
               <p class="warning">
                  The fields that are marked with (*) are required
               </p>
            </form>
      </main>
      </div>
      {% include 'views/footer.html' %}
   </body>
</html>
