{% load static tailwind_tags %}
<!DOCTYPE html>
<html class="h-full bg-gray-100" lang="en">
<head>
    <title>Django Tailwind</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}
</head>
<style>
    .form_block{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:20px;
    margin-top:10vh;
    }
</style>
<body class="h-full">
    <div class="min-h-full">
        {% include 'views/navigation.html' %}
        <header class="bg-white shadow">
            <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
                <h1 class="text-3xl font-bold tracking-tight text-gray-900">Create a user</h1>
            </div>
        </header>
        <main>
            <div class="container mx-auto">
                <form action="POST">
                    {% csrf_token %}
                    <div  class="form_block">
                    {{form.as_table}}
                    </div>
                </form>
        </main>
    </div>
{% include 'views/footer.html' %}
</body>
</html>