{% load static tailwind_tags %}
<!DOCTYPE html>
<html class="h-full bg-gray-100" lang="en">
   <head>
      <title>Django Tailwind</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      {% tailwind_css %}
   </head>
   <style>
        .button{
   width:200px;
   margin-left:0%;
   background-color:#5997de;
   padding:10px;
   text-align:center;
   color:#fff;
   font-weight:700;
   }

@media only screen and (max-width: 2187px) {
        .button{
   width:200px;
   margin-left:15%;
   background-color:#5997de;
   padding:10px;
   text-align:center;
   color:#fff;
   font-weight:700;
   }

}
   </style>
   <body class="h-full">
      <div class="min-h-full">
         {% include 'views/navigation.html' %}
         <div class="" style="margin-top:50px">
             <a href="{% url 'create_student' %}" target="_blank" class='button'>Create Student</a>
               <br><br><br>
            <table class="container mx-auto" border="1">
               <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                  <tr>
                     <th scope="col" class="px-2 py-3">Username</th>
                     <th scope="col" class="px-2 py-3">Fist name</th>
                     <th scope="col" class="px-2 py-3">Last Name</th>
                     <th scope="col" class="px-2 py-3">Email</th>
                     <th scope="col" class="px-2 py-3">Datebirth</th>
                     <!-- Add more columns for additional fields -->
                  </tr>
               </thead>
               <tbody   class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                  {% for student in students_list %}
                  <tr>
                     <td  class="text-center">{{ student.username }}</td>
                     <td  class="text-center pt-4">{{ student.first_name }}</td>
                     <td  class="text-center">{{ student.last_name }}</td>
                     <td  class="text-center">{{ student.email }}</td>
                     <td  class="text-center">{{ student.dob }}</td>
                     <!-- Add more cells for additional fields -->
                  </tr>
                  {% endfor %}
               </tbody>
            </table>
         </div>
      </div>
      {% include 'views/footer.html' %}
   </body>
</html>
