<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% load static tailwind_tags %}
<!DOCTYPE html>
<html class="h-full bg-gray-100" lang="en">
<head>
    <title>Django Tailwind</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}
</head>
<style>
    .form_block {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10vh;
    }
    .sub-section {
        margin-top: 40px;
        border: 1px solid #ddd;
        padding: 30px;
    }
    .input {
        margin-top: 30px;
    }
    .warning {
        color: tomato;
        margin-top: 30px;
    }
    .header {
        font-weight: 600;
        font-size: 18px;
    }
</style>
<body class="h-full">
    <div class="min-h-full">
    {% include 'views/navigation.html' %}
    <header class="bg-white shadow">
        <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
            <h1 class="text-3xl font-bold tracking-tight text-gray-900">Select an Exercise</h1>
        </div>
    </header>
    <main>
      <div style="display:flex;justify-content:center;align-items:center;margin-top:10vh;" class="container">
           <form class="form-block" action="{% url 'enroll_lesson' %}" method="post">
            {% csrf_token %}
                    <div class="form-group">
                        <label for="{{ selectExerciseForm.exercise.id_for_label }}">
                            {{selectExerciseForm.exercise.label}}
                        </label>
                        {{selectExerciseForm.exercise}}
                             <div class="text-red-500">
                            {{ selectExerciseForm.exercise.errors }}
                        </div>

                    </div>
        <div style="margin-top:50px;">
             {% include 'partials/submit_button.html' %}
        </div>
           </form>
      </div>
    </main>
    </div>
    {% include 'views/footer.html' %}
</body>
</html>

</body>
</html>